[Desktop Entry]
Type=Application
Name=Music MP3 Downloader
GenericName=Music Player
Comment=Reproduce tu biblioteca local y descarga audio de YouTube a MP3
Exec=music-mp3-downloader %U
Icon=multimedia-player
Terminal=false
Categories=AudioVideo;Audio;Player;
Keywords=music;mp3;youtube;player;download;reproductor;
